<div class="container">
  <aside></aside>
  <main>
    <div class="swiper"></div>
    <div class="entrance">
      <div class="someOrder">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">
          <div class="item-child"></div>
          <div class="item-child"></div>
          <div class="item-child"></div>
          <div class="item-child"></div>
        </div>
      </div>
      <div class="someWork">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
  </main>
</div>